.logo-container {
  margin-bottom: 40px;
  text-align: center;
}

.hospital-logo {
  width: 90px;
  height: 90px;

  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.home{
  margin-top: 100px;
}


.container{
    background-color: #060B23;
    color: aliceblue;
    width: 408px;  
    height: 804;         
  margin: 10px auto;      
  padding: 61px 40px 60px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;


}
.hospital-name{
   display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.message{
   display: block;
    font-family: 'Poppins', sans-serif;
}

.proceed-btn{
  margin-top: 100px;

  background-color: rgb(255, 255, 255);
border: 10px;
border-radius: 20px;

padding: 10px 10px;
width: 50%;
display: block;
margin: 40px auto;

}