

.hospital-logo{
  width: 140px;
  height: 140px
}
.home{
  margin-top: 100px;
}


.container{
    background-color: #060B23;
    color: aliceblue;
    width: 408px;  
    height: 804;             
  padding: 61px 40px 60px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;

}
.radical{
  font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.hospital{
  margin-top: 0px;
  font-size: 27px;
  font-weight: 100;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.message{
  margin-top: 1px;
   display: block;
    font-family: 'Poppins', sans-serif;
}

.proceed-btn{
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
border: 10px;
border-radius: 20px;
padding: 10px 10px;
width: 50%;
display: block;
margin: 40px auto;

}