.success-page{
  background-color: #060B23;
    color: aliceblue;
    width: 408px;  
    height: 804;         
  margin: 10px auto;      
  padding: 61px 40px 60px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.admission{
  font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.success-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px
}


 

.patient-name{
  margin-top: 40px;
  display: block;
  align-items: center;
}

.submit{
  background-color: rgb(255, 255, 255);
  border: 10px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 10px;
  width: 50%;
  display: block;
  margin: 40px auto;
  
  }
  .home-btn{
   
      background-color: rgb(255, 255, 255);
      border: 10px;
      border-radius: 20px;
  
      padding: 10px 10px;
      width: 50%;
      display: block;
      margin: 40px auto;
  }
  .thank-you{
    display: block;
    font-family: 'Poppins', sans-serif;
  }

  .admission-details{
    display: block;
    font-family: 'Poppins', sans-serif; 
  }
  